 #nameInfo {
   display:none;
 }

 #addressInfo {
   display:none;
 }

 .jumbotron {
   background-color: #D10606;
   color: #FFBF00;
 }

.btn {
  margin-bottom: 20px;
}

body {
  background-color: #F0D890;
}

#showPizzaRecipt {
  display: none;
}
#sliceOfPizza {
  width: 225px;
  float: right;
}

.pizzaPieForYou {
  cursor: pointer;
  color: #D10606;
}

.pizzaPieForYou:hover {
  text-decoration: underline;
}
